.__admin_compliance_table_{
    margin-left: 2rem;
}

.__admin_information_content_principal{
    width: 70%;
    margin-right: 2rem;
}

.admin_dashboard_information_content{
    margin-left: 2rem;
    padding-top: 2rem;
    display: flex;

}

.__admin_information_content_cards  {
    margin-bottom: 2rem;
}   

.__admin_information_content_card{
    margin-bottom: 2rem;
}

.__admin_information_content_card_title_icon {
    font-size: 22px;
}

.__admin_information_content_card_title{
    background: #282B30;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__admin_information_content_card_form{
    display: grid !important;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 1rem;
}

.__adin_information_content_card_container{
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    padding: 1rem;
}

.__admin_information_content_buttons{
    display: flex;
    justify-content: space-between;
}

.__admin_information_content_button_back button{
    background: white;
    border: 1px solid #492D90;
    box-shadow: 0px 12px 50px rgb(0 0 0 / 10%);
    font-family: 'poppins';
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 10px;
    color: #492D90;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    width: 7rem;
    padding: 0.6rem;
}

.__admin_information_content_button_refuse{
    background: white;
    border: 1px solid #D9534F;
    box-shadow: 0px 12px 50px rgb(0 0 0 / 10%);
    font-family: 'poppins';
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 10px;
    color: #D9534F;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    width: 7rem;
    padding: 0.6rem;
}

.__admin_information_content_button_approve{
    background: #2CB67D;
    border-radius: 10px;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: white;
    margin-left: 2rem;
    font-size: 16px;
    width: 7rem;
    padding: 0.6rem;
}

.__admin_information_content_card_title_icon{
    cursor: pointer;
}


.__admin_information_account_title{
    font-size: 22px;
    font-weight: bold;
}

.__admin_information_account_details{
    background: #FFFFFF;
    box-shadow: 3px 3px 30px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}

.__admin_information_account_content_row{
    display: flex;
}

.__admin_information_account_content_col{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.__admin_information_account_content_col_space{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.__admin_information_account_content_name{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.__admin_information_account_content_title{
    margin-bottom: 0.5rem;
}

.__admin_information_account_content_operation{
    display: flex;
    align-items: center;
}

.__admin_information_account_content_community{
    background: #EF5DA8;
    border-radius: 2px;
    padding: 0.1rem;
    text-align: center;
    color: white;
}

.__admin_information_account{
    margin-top: -0.5rem;
}

.__admin_compliance_table_{
    overflow: auto !important;
}