.chart-container-pie {
    height: 200px;
    width: 93%;
    margin: auto;
}

.chart-container-pie img{
    margin: auto;
}

@media screen and (max-width: 600px) {
    .chart-container-pie{
        width: auto;
        margin: auto;
    }
    
    .chart-container-pie canvas {
        margin: auto;
    }
}