.__admin_compliance{
    overflow-x: auto !important;    
}

.__admin_compliance_table {
    border-radius: 5px;
    height: max-content;
    background: #FFFFFF;
    height: max-content;
    width: max-content;
    border-collapse: collapse;
}

.__admin_compliance_table th,
td {
    text-align: start;
    padding: 1rem;
    width: max-content;
}

.__admin_compliance_table_filters{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.__admin_compliance_table_filter_date {
    display: flex;
    align-items: center;
}

.__admin_compliance_table_filter_input {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.__admin_compliance_table_input,
.__admin_compliance_table_filter_date_element {
    padding: 0.7rem;
}

.__admin_compliance_table_filter_date_element {
    background: #F0F2F5;
    box-shadow: inset -1px 0px 0px #D9D9D9, inset 0px 1px 0px #D9D9D9, inset 0px -1px 0px #D9D9D9;
    font-family: 'Inter';
}

.__admin_compliance_table_filter_date_element_input {
    background: #FFFFFF;
    border-radius: 0px 2px 2px 0px;
    padding: 0.5rem;
    border: 0px solid transparent;
}

.__admin_compliance_table_thead_tr {
    background: #EEEEEE
}

.__admin_compliance_table_thead_tr th {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #131523;
}

.__admin_compliance_table_input label{
    background: #FAFAFA;
    box-shadow: inset 1px 0px 0px #d9d9d9, inset 0px 1px 0px #d9d9d9, inset 0px -1px 0px #d9d9d9;
    border-radius: 2px 0px 0px 2px;
    padding: 0.4rem;
}

.__admin_compliance_table_input input{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 0px 2px 2px 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.__admin_compliance_title h4{
    margin-left: 1rem;
}

.__admin_compliance_table_dropdown{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: start;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    border: 1px solid #EEE;
    padding: 0.5rem;
}

.__admin_compliance_table_body_button{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    cursor: pointer;
}

.__admin_compliance_table_button button{
    color: white;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    background-color: #a75da3;
    border: 0px;
    cursor: pointer;
}

.__admin_compliance_title{
    padding-left: 1rem;
}